%footer.footer-2{:role => "contentinfo"}
  .footer-logo
    = image_tag "home-icon-64.png"
    = image_tag "plus-icon-64.png"
    = image_tag "heart-icon-64.png"
  .footer-secondary-links
    %ul
      %li
        %a{:href => "javascript:void(0)"} Terms and Conditions
      %li
        %a{:href => "javascript:void(0)"} Privacy Policy
    %ul.footer-social
      %li
        %a{:href => "javascript:void(0)"}
          = image_tag "facebook-icon-32.png"
      %li
        %a{:href => "javascript:void(0)"}
          = image_tag "twitter-icon-32.png"
      %li
        %a{:href => "javascript:void(0)"}
          = image_tag "youtube-icon-32.png"
      %li
        %a{:href => "javascript:void(0)"}
          = image_tag "github-icon-32.png"
