.hero
  .hero-inner
    %a.hero-logo
      = image_tag "home-icon-64.png"
    %a.hero-logo
      = image_tag "plus-icon-64.png"
    %a.hero-logo
      = image_tag "heart-icon-64.png"
    .hero-copy
      %h1 Picanha meatball ball tip frankfurter bacon
      %p Bacon ipsum dolor amet fatback doner cupim rump pork loin jowl short ribs short loin drumstick tongue landjaeger turducken meatloaf picanha
.container
  %ul.bullets
    %li.bullet
      .bullet-icon.bullet-icon-1
        = image_tag "currency-icon-64.png"
      .bullet-content
        %h2 Tenderloin Salami
        %p Bacon ipsum dolor amet fatback doner cupim rump pork loin jowl short ribs short loin drumstick tongue landjaeger turducken meatloaf picanha
    %li.bullet
      .bullet-icon.bullet-icon-2
        = image_tag "cloud-icon-64.png"
      .bullet-content
        %h2 Meatball Ball
        %p Bacon ipsum dolor amet fatback doner cupim rump pork loin jowl short ribs short loin drumstick tongue landjaeger turducken meatloaf picanha
    %li.bullet
      .bullet-icon.bullet-icon-3
        = image_tag "shield-icon-64.png"
      .bullet-content
        %h2 Cow Brisket
        %p Bacon ipsum dolor amet fatback doner cupim rump pork loin jowl short ribs short loin drumstick tongue landjaeger turducken meatloaf picanha
.hero
  .hero-inner
    %a.hero-logo
      = image_tag "building-icon-64.png"
    .hero-copy
      %h1 Picanha meatball ball tip frankfurter bacon
      %p Bacon ipsum dolor amet fatback doner cupim rump pork loin jowl short ribs short loin drumstick tongue landjaeger turducken meatloaf picanha
.container
  .comment
    .comment-image
      = image_tag "building-icon-64.png"
    .comment-content
      %h1 First Comment Title or Author
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.
      %p.comment-detail Date or details about this post
  .comment
    .comment-image
      = image_tag "building-icon-64.png"
    .comment-content
      %h1 First Comment Title or Author
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.
      %p.comment-detail Date or details about this post
  .comment
    .comment-image
      = image_tag "building-icon-64.png"
    .comment-content
      %h1 First Comment Title or Author
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.
      %p.comment-detail Date or details about this post
